
html {
  min-height:100%;
  position:relative;
}

body {
  background-color: #e6e6fa;  
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Roboto", "Lato", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.nav-menu {
  background-color: #3f51b5;
}

.img-logo {
   max-height: 45px;
}

.margin-container {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

footer {
  width: 100%;
  text-align: center;
  position:absolute;
  bottom:0;
  background-color: #E6E6FA;
}

.INFO {
  background-color: #3f51b5 !important;
}

.ERROR {
   background-color:#d32f2f !important;
} 

.WARNING {
  background-color: #e65100 !important;
} 

.DONE , .SUCCESS {
 background-color:#26a69a !important; 
}    

.DEFAULT {
  background-color: #9e9e9e !important;
}


/** panel **/

.card-header {
  background-color: #ee6e73;
  border: 1px solid #ee6e73;
  height: 40px;
  font-size: 1.6rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}


.card {
  /**  padding: 28px 30px 0px 30px; **/
  background-color: #FFF;
  border: 1px solid #EEE;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}


.card-center {
  width: 550px;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  margin-left: -275px;
  margin-top: -235px;
}

.card-footer {
  margin-bottom: 40px;
  text-align: right;
}

.card-footer-detail {
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
}

.card-footer-detail-responsive {
   margin-top: 60px;
   margin-bottom: 10px;
   text-align: right;
}

.icon-panel {
  position: relative;
  top: 4px;
  right: 10px;
}
